<%- include("../partials/header") %>


<div class=container>
    

   <header class="jumbotron">
      <h1 class="display-4">WELCOME TO YELP CAMP!!</h1>
  <p class="lead">This is a simple website to find the best Camp sites available</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add a camp place</a>
</header> 
    
    


     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campgrounds){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
    
                   <img src="<%=campgrounds.img %>">
                   <div class="caption">
                       <h4><%= campgrounds.name %></h4>
                       <hr>
                       <p><%=campgrounds.description.substring(0, 100) %>...</p>
                   </div>
                   <p>
                       <a href="/campgrounds/<%= campgrounds._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
<%- include("../partials/footer") %>





