<%- include("../partials/header") %>



<div class="container">





<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/<%=campgrounds.img%>"alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%=campgrounds.name%></h5>
    <p><%=campgrounds.description%><p>
      <% campgrounds.comments.forEach(function(comment){ %>
    <hr>
      <p>
        <strong><%= comment.author.username %></strong> - <%= comment.text %>
    </p>
      
<% }) %>
      <a class="btn btn-success" href="/campgrounds/<%= campgrounds._id %>/comments/new">Add New Comment</a>
   
  </div>
</div>
<%- include("../partials/footer") %> 